extends layout

block content
  form(action="/poster", method="post", enctype="multipart/form-data")
    label(for="file") File to Upload:
    input(name="file", type="file")
    br
    input(name="submit", type="submit", value="submit")
