extends layout

block content
  form(action="/user", method="post")
    label(for="name") Username:
    input(name="name")
    br
    label(for="pass") Pass:
    input(name="pass")
    br
    input(name="submit", type="submit", value="submit")
